#todays{
    background-color: red;
}
#past_todays {
    background-color: rgb(114, 114, 114);
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}


.body_main{
    width: 70vw;
    justify-content:space-between;
    margin-left: 10vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: row;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}
.login_page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.main_info{
    font-size: 35px;
    color: darkgreen;
}

.main_info form{
    align-self:right;
    align-items: right;
    align-content: right;
    text-align: right;
}

.logo img{
    width: 120px;
    height: 120px;
    border-width: 10px;
    border-radius: 45px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}

.logged_in{
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: magenta;
    padding: 1px;
}

.login_page {
    display: flex;
    justify-content: center;
}

.habits {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;

}

.inline_form{
    display:inline;
}

#choose_habit{
    border: none;
    color: black;
    cursor: pointer;
}
.habits_container{
    align-self: left;
    display: inline-flex;
    align-content: left;
    width:25%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: blue;
    padding: 1px;
}
.datapoints_container{
    width: 80%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: cyan;
    padding: 1px;
}
.next_container{
    width:25%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: darkgreen;
    padding: 1px;
}
.habits_table {

    text-align: center;
    width: 100%;
}
.habits_table tr:hover {
    background-color: lightgray;
}
.habits_table th, td {
  border-bottom: 1px solid #ddd;
}

.habits_container button {
    display: inline;
}
.habits_container form {
    display: inline;
}
.habitname.currently_selected {
    background-color: gray;
}

#loading_indicator {

    margin: auto;
    border: 10px solid grey;
    border-radius: 50%;
    border-top: 10px solid blue;
    width: 10px;
    height: 10px;
    animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
    100% {
        transform: rotate(360deg);
    }
}

#weeks_calendar_wrapper {
    height: fit-content;
}

#calendar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
    height: 200px;
}

.day_names{
    justify-content: space-around;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
.first_week_row{
    justify-content: space-around;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.second_week_row{
    justify-content: space-around;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.third_week_row{
    justify-content: space-around;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.dates{
    font-size: 40px;
    text-align:center;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
}
.dates.currently_selected {
    animation: animate 1.5s linear infinite;
}
.weekdays{
    text-align:center;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
}

#datapoints_control {
    height: fit-content;
}

#graph {
    max-height: 200px;
    max-width: 200px;
}
#graph2 {
    max-height: 200px;
    max-width: 200px;
}
.area_chart {
    height: 30%;
}

@keyframes animate{ 
    0%{ 
      opacity: 0.1; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0.1; 
    } 
  } 

#year_chart_container {
    position: relative;
    height: 35vh;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#year_chart {
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: repeat(53, 1fr);
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#year_chart -webkit-scrollbar {
        display: none;
}

div .first_week {
    justify-content: flex-end;
}

.chart_week {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
}

.chart_day {

    position: relative;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 4px;
    background-color: #e2ebb2;
    padding: 7px;
    margin: 1px;
}

.chart_day .year_chart_popup {
    z-index: 1;
    position:absolute;
    top:-22px;
    right:9999px;
    width:150px;
    height: 15px;
    text-align: center;
    margin-right:-160px;
    padding:10px;
    color:#fff;
    background:#333;
            box-shadow:2px 2px 5px #aaa;
    opacity:0;
            transition:opacity 250ms ease-out;
}
.chart_day .year_chart_popup::before {
    z-index: 1;
    content:' ';
    position:absolute;
    top:50%;
    left:-16px;
    width:0;
    height:0;

    border:8px solid transparent;
    border-right-color:#333;
}
.chart_day:hover .year_chart_popup {
    right:-20px;
    opacity:1;
}