#todays{
    background-color: red;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}

.body_main{
    display: flex;
    flex-direction: row;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}
.login_page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.main_info{
    font-size: 35px;
    color: darkgreen;
}

.main_info form{
    align-self:right;
    align-items: right;
    align-content: right;
    text-align: right;
}

.logo img{
    width: 120px;
    height: 120px;
    border-width: 10px;
    border-radius: 45px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
    padding: 1px;
}

.logged_in{
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: magenta;
    padding: 1px;
}

.login_page {
    display: flex;
    justify-content: center;
}

.habits {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;

}

.inline_form{
    display:inline;
}

#choose_habit{
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}
.habits_container{
    align-self: left;
    display: inline-flex;
    align-content: left;
    width:25%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: blue;
    padding: 1px;
}
.datapoints_container{
    width:50%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: cyan;
    padding: 1px;
}
.next_container{
    width:25%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: darkgreen;
    padding: 1px;
}
.habits_table {

    text-align: center;
    width: 100%;
}
.habits_table tr:hover {
    background-color: lightgray;
}
.habits_table th, td {
  border-bottom: 1px solid #ddd;
}

#loading_indicator {

    margin: auto;
    border: 10px solid grey;
    border-radius: 50%;
    border-top: 10px solid blue;
    width: 10px;
    height: 10px;
    animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
    100% {
        transform: rotate(360deg);
    }
}

#calendar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
    height: 200px;
}

.day_names{
    justify-content: space-around;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
.first_week_row{
    justify-content: space-around;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.second_week_row{
    justify-content: space-around;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.dates{
    font-size: 40px;
    text-align:center;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
}
.weekdays{
    text-align:center;
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    padding: 1px;
}
.weeks_calendar_wrapper{

}