<div class=habits_container>
    <div class="habits">

        <div id="habits_list">
            <h2>Your habits:</h2>
            <div>

                <script>
                    var habitname = "";
                    var collection = {{collection|tojson}};
                    var habits = {{habits|tojson}};
                    console.log(collection);
                    let newValue = '';
                    function setDeleteValue(value){
                        newValue = value;
                    }
                    function Choice_habit(habit) {
                        habitname = habit;
                        let datapoints = [];
                        const table = document.getElementById("table");
                        while (table.hasChildNodes()) {
                            table.removeChild(table.firstChild);
                        }

                        for(let i = 0; i < collection.length; i++){
                            if(collection[i][0] == habit){
                                for(let j = 1; j < collection[i].length; j++){
                                    datapoints.push(collection[i][j]);
                                }
                                new_row = document.createElement('tr');
                                new_table_data1 = document.createElement('td');
                                new_table_data2 = document.createElement('td');
                                new_table_data3 = document.createElement('td');
                                new_table_data1.innerHTML = datapoints[0];
                                new_table_data2.innerHTML = datapoints[1];
                                new_table_data3.innerHTML = datapoints[2];
                                new_row.appendChild(new_table_data1);
                                new_row.appendChild(new_table_data2);
                                new_row.appendChild(new_table_data3);
                                table.appendChild(new_row);
                                datapoints = [];
                            }
                        }

                    }
                </script>

                <form id="delete_habit">
<!--                    {% macro render_habits(habit) -%}-->
<!--                    <div id="{{ habit }}">-->
<!--                        <button type="button"-->
<!--                                id="choose_habit"-->
<!--                                value="{{ habit }}"-->
<!--                                onclick="Choice_habit(this.value)">-->
<!--                            {{ habit }}-->
<!--                        </button>-->
<!--                        <input type="submit" value="Delete" name="{{ habit }}" onclick="setDeleteValue(this.name)">-->
<!--                        <input type="hidden" name="habit_delete" value="{{ habit }}">-->
<!--                        <br>-->
<!--                    </div>-->
<!--                    {%- endmacro %}-->
<!--                    {% for habit in habits %}-->
<!--                    {{ render_habits(habit) }}-->
<!--                    {% endfor %}-->

                </form>


            </div>
        </div>

        <div class="submit_new_habit" id="submit_new_habit_container">
            <form id="send_new_habit">
                Create new habit:
                <input type="text" id="new_habit" name="new_habit" required>
                <br>
                <input type="submit" value="Submit">
            </form>

<!--            <script>-->
<!--//                const newHabit = document.querySelector("#send_new_habit");-->
<!--//                async function sendNewHabit() {-->
<!--//                    const formData = new FormData(newHabit);-->
<!--//                    const formhabit = formData.get("new_habit");-->
<!--//                    try {-->
<!--//                        const container = document.getElementById("submit_new_habit_container");-->
<!--//                        var loadingIndicator = document.createElement("div");-->
<!--//                        loadingIndicator.id = "loading_indicator";-->
<!--//                        container.appendChild(loadingIndicator);-->
<!--//                        const response = await fetch("/api/profile", {-->
<!--//                            method: "POST",-->
<!--//                            body: formData,-->
<!--//                        });-->
<!--//                        x = await response.json();-->
<!--//                        console.log(x);-->
<!--//                        if (x.status == 'ok') {-->
<!--//                            loadingIndicator.remove();-->
<!--//                            renderNewHabit(formhabit);-->
<!--//                            collection = x.collection;-->
<!--//                            document.getElementById('new_habit').value = '';-->
<!--//                        }-->
<!--//                        else{-->
<!--//                            loadingIndicator.remove();-->
<!--//                        }-->
<!--//                    } catch (e) {-->
<!--//                        console.error(e);-->
<!--//                    }-->
<!--//                }-->
<!--//                newHabit.addEventListener("submit", (event) => {-->
<!--//                    event.preventDefault();-->
<!--//                    sendNewHabit();-->
<!--//-->
<!--//                });-->
<!--            </script>-->

            <script type="text/javascript" src="{{ url_for('static', filename='js/render_remove_habit.js') }}"></script>

        </div>
        {% if error is not none %}
        <div>{{error}}</div>
        {% endif %}
    </div>
</div>
<div class="datapoints_container">
    <div id="weeks_calendar_wrapper">
        <div id="calendar">
            <div class="day_names">
                <div class="weekdays">Mon</div>
                <div class="weekdays">Tue</div>
                <div class="weekdays">Wed</div>
                <div class="weekdays">Thu</div>
                <div class="weekdays">Fri</div>
                <div class="weekdays">Sat</div>
                <div class="weekdays">Sun</div>
            </div>
            <div class="first_week_row">
                <div class="dates">1</div>
                <div class="dates">2</div>
                <div class="dates">3</div>
                <div class="dates">4</div>
                <div class="dates">5</div>
                <div class="dates">6</div>
                <div class="dates">7</div>
            </div>
            <div class="second_week_row">
                <div class="dates">8</div>
                <div class="dates">9</div>
                <div class="dates">10</div>
                <div class="dates">11</div>
                <div class="dates">12</div>
                <div class="dates">13</div>
                <div class="dates">14</div>
            </div>
        </div>
    </div>

    <div>
        <table id="table" class="habits_table">

        </table>
    </div>
    <div>

        <form id="send_new_datapoint">
            <input type="text" id="new_datapoint" name="new_datapoint" required>
            <br>
            <input type="submit" value="Submit">
        </form>

        <script>
            const sendDatapoint = document.querySelector("#send_new_datapoint");
            function renderNewDatapoint(datapoint) {
                //const date = new Date();
                //let today = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay();
                table = document.getElementById('table');
                new_row = document.createElement('tr');
                new_table_data1 = document.createElement('td');
                new_table_data2 = document.createElement('td');
                new_table_data3 = document.createElement('td');
                new_table_data1.innerHTML = 'today';
                new_table_data2.innerHTML = 1;
                new_table_data3.innerHTML = datapoint;
                new_row.appendChild(new_table_data1);
                new_row.appendChild(new_table_data2);
                new_row.appendChild(new_table_data3);
                table.appendChild(new_row);
            }
            var theDatapoint = '';
            async function sendNewDatapoint() {
                const formData = new FormData(sendDatapoint);
                formData.append("new_datapoint_name", habitname);
                console.log(formData);
                theDatapoint = formData.get("new_datapoint");
                console.log('this is it', theDatapoint);
                try {
                    const container = document.getElementById("send_new_datapoint");
                    var loadingIndicator = document.createElement("div");
                    loadingIndicator.id = "loading_indicator"
                    container.appendChild(loadingIndicator);
                    const response = await fetch("/api/profile", {
                        method: "POST",
                        body: formData,
                    });

                    x = await response.json();
                    console.log(x);
                    if (x.status == 'ok') {
                        loadingIndicator.remove();
                        collection = x.collection;
                        document.getElementById('new_datapoint').innerHTML = '';
                    }
                    else {
                        loadingIndicator.remove();
                    }
                } catch (e) {
                    console.error(e);
                }

            }
            sendDatapoint.addEventListener("submit", (event) => {
                event.preventDefault();
                sendNewDatapoint(habitname);
                renderNewDatapoint(theDatapoint);
            });
        </script>

    </div>
</div>

<div class="next_container">
    temp
</div>




