<script id="collection-script" type="application/json">
  {{collection|tojson}}
</script>
<script id="habits-script" type="application/json">
  {{habits|tojson}}
</script>

<div class=habits_container>
    <div class="habits">

        <div id="habits_list">
            <h2>Your habits:</h2>
            <div>

                <script type="text/javascript" src="{{ url_for('static', filename='js/global_vars.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/render_remove_habit.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/render_calendar.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/render_remove_datapoint.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/render_graph.js') }}"></script>
                <form id="delete_habit">
                </form>



                <div id="habit_selector">

                </div>


            </div>
        </div>

        <div class="submit_new_habit" id="submit_new_habit_container">
            <form id="send_new_habit">
                Create new habit:
                <input type="text" id="new_habit" name="new_habit" required>
                <br>
                <input type="submit" value="Submit">
            </form>



        </div>
        {% if error is not none %}
        <div>{{error}}</div>
        {% endif %}
    </div>
</div>
<div class="datapoints_container">

    <div id="area_chart" class="area_chart">

    </div>

    <div id="weeks_calendar_wrapper">
        <div id="calendar">


            <div class="day_names">
                <div class="weekdays">Mon</div>
                <div class="weekdays">Tue</div>
                <div class="weekdays">Wed</div>
                <div class="weekdays">Thu</div>
                <div class="weekdays">Fri</div>
                <div class="weekdays">Sat</div>
                <div class="weekdays">Sun</div>
            </div>
            <div class="first_week_row">
                <div class="dates">1</div>
                <div class="dates">2</div>
                <div class="dates">3</div>
                <div class="dates">4</div>
                <div class="dates">5</div>
                <div class="dates">6</div>
                <div class="dates">7</div>
            </div>
            <div class="second_week_row">
                <div class="dates">8</div>
                <div class="dates">9</div>
                <div class="dates">10</div>
                <div class="dates">11</div>
                <div class="dates">12</div>
                <div class="dates">13</div>
                <div class="dates">14</div>
            </div>
        </div>
    </div>


    <div id="datapoints_control">
        <form id="remove_datapoint">
        <table id="table" class="habits_table">

        </table>
        </form>

        <form id="send_new_datapoint">
            <input type="text" id="new_datapoint" name="new_datapoint" required>
            <input type="range" step="5" min="5" max="60" value="5" id="datapoint_range">
            <p>Value: <output id="datapoint_range_value"></output> minutes</p>
            <br>
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

<div id="graph">

</div>

<div id="graph2">

</div>






