<div class=habits_container>
    <div class="habits">

        <div class="habits_list">
            <h2>Your habits:</h2>
            <div>

                <form action="delete_habit" method="post" class="inline_form">


<script>
                        const collection = {{collection|tojson}};
                        function Choice_habit(habit) {
                            let datapoints = [];
                            const table = document.getElementById("table");
                            while (document.getElementById("table").hasChildNodes()) {
                                table.removeChild(table.firstChild);
                            }
                            for(let i = 0; i < collection.length; i++){
                                if(collection[i][0] == habit){
                                    for(let j = 1; j < collection[i].length; j++){
                                        datapoints.push(collection[i][j]);
                                    }
                                    new_row = document.createElement('tr');
                                    new_table_data1 = document.createElement('td');
                                    new_table_data2 = document.createElement('td');
                                    new_table_data3 = document.createElement('td');
                                    new_table_data1.innerHTML = datapoints[0];
                                    new_table_data2.innerHTML = datapoints[1];
                                    new_table_data3.innerHTML = datapoints[2];
                                    new_row.appendChild(new_table_data1);
                                    new_row.appendChild(new_table_data2);
                                    new_row.appendChild(new_table_data3);
                                    table.appendChild(new_row);
                                    datapoints = [];
                                }
                            }
                        }
                    </script>

                    {% for habit in habits %}
                    <button type="button"
                            class="choose_habit"
                            name="choice_habit"
                            value="{{ habit }}"
                            onclick="Choice_habit(this.value)">
                        {{ habit }}
                    </button>
                    <input type="submit" value="Delete">
                    <input type="hidden" name="habit_name" value="{{ habit }}">
                    <br>

                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="submit_new_habit">
            <form action="/profile" method="post">
                Create new habit:
                <input type="text" id="new_habit" name="new_habit" required>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        {% if error is not none %}
        <div>{{error}}</div>
        {% endif %}
    </div>

    <div>
        <table id="table" class="habits_table">

        </table>
    </div>
</div>

